$fontColorDefault: rgb(68, 68, 68);
$bgColorDefault: rgb(218, 218, 218);
$bgColorDark: rgb(90, 74, 74);
$fontColorDarkdTheme: rgb(255, 255, 255);

[data-theme="light"] {
  --default-color: rgb(68, 68, 68);
  --logo-color: linear-gradient(45deg, #25aae1, #4481eb, #04befe, #3f86ed);
  --degault-bg: rgb(218, 218, 218);
  --btn-color: rgb(218, 218, 218);
  --hero-bg: rgb(255, 255, 255);
  --bg-hero-gradient: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  --bg-btn-gradient: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
}
[data-theme="dark"] {
  --default-color: rgb(255, 255, 255);
  --logo-color: linear-gradient(45deg, #f3ec78, #af4261);
  --btn-color: linear-gradient(145deg, #ffffff, #d1d9e6);
  --degault-bg: #424242;
  --hero-bg: rgb(121, 136, 235);
  --bg-hero-gradient: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  --bg-btn-gradient: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
}
